* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://img.freepik.com/premium-photo/blur-background-clouds-sky_49758-694.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    overflow: hidden;
}

.container {
    width: 750px;
    height: 450px;
    background-color: rgba(255, 255, 250, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
}

.input {
    display: flex;
    gap: 15px;
}

.input input {
    width: 450px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid blueviolet;
}

.submit {
    width: 70px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    display: none;
}

.weather-condition {
    display: flex;
    flex-direction: column;
    gap: -25px;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location {
    display: flex;
    gap: 10px;
}

.temperature h1 {
    font-size: 80px;
    letter-spacing: 3px;
}

.weather-img {
    width: 250px;
    height: 250px;
    margin-top: -30px;
}

.Condition {
    margin-top: -40px;
}

.material-symbols-outlined {
    font-size: 25px;
}

.weather {
    display: flex;
    gap: 15px;
    align-items: center;
}

.wind {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

@media screen and (max-width:600px) {
    .container {
        width: 350px;
        height: 590px;
    }

    .input input {
        width: 250px;
        height: 35px;
    }

    .input {
        gap: 10px;
    }

    .submit {
        width: 50px;
        height: 30px;
    }

    .heading {
        font-size: 20px;
    }

    .weather-details {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .location {
        position: relative;
        bottom: 240px;
        font-size: 15px;
        gap: 5px;
        margin: auto;
    }

    .weather-img {
        width: 200px;
        height: 200px;
        margin-top: -20px;
    }

    .temperature h1 {
        font-size: 50px;
        letter-spacing: 2px;
        text-align: center;
    }

    .weather {
        margin: auto;
    }

    .date {
        text-align: center;
        font-size: 10px;
    }

    .Condition {
        margin-top: -10px;
    }
}